= select_field_for form, "client_id", "client", "name", @clients
= radio_field_for( form, "month", "this_month", "this_month", "checked")
=# form.radio_button("month", "this_month", checked: "checked")
=# label(form, "This Month")
%div{:style=>"width: 100%; clear: both; padding: 10;"}
  = date_field_for form, "this_month_start_date", default: @beginning_of_month
  = date_field_for form, "this_month_end_date", default: @end_of_month
  = date_field_for form, "this_month_date_sent", default: @end_of_month
= radio_field_for( form, "month", "this_month", "last_month", "")
=# form.radio_button("month", "last_month")
=# label(form, "Last Month")
%div{:style=>"width: 100%; clear: both; padding: 10;"}
  = date_field_for form, "last_month_start_date", default: @beginning_of_last_month
  = date_field_for form, "last_month_end_date", default: @end_of_last_month
  = date_field_for form, "last_month_date_sent", default: @end_of_last_month
= date_field_for form, "date_paid"
= text_field_for form, "hours"
= text_field_for form, "amount"
= text_field_for form, "gst"
= select_field_for form, "company_id", "company", "name", @companies
= select_field_for form, "consultant_id", "consultant", "name", @consultants
