<h1><%= @title %></h1>

<div id="main_content">
  <table class="timesheet">
    <tr>
      <% TimeEntry::TIMESHEET_FIELDS.each do |n| %>
        <%= content_tag :th, n.humanize %>
      <% end %>
      <th>Task</th>
      <th>Hours</th>
    </tr>
    <% total_duration = Duration.new %>
    <% week_total = Duration.new %>
    <% unless @time_entries.nil? %>
      <% curr_week = @time_entries[0].week %>
      <% @time_entries.each do |c| %>
        <% if c.week != curr_week %>
          <tr class="subtotal">
            <td colspan="2">Week hours:</td>
            <td class="subtotal"><%= week_total.days_to_hours + week_total.hours + (week_total.minutes.to_f / 60) %></td>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <% week_total = Duration.new %>
          <% curr_week = c.week %>
        <% end %>
        <tr>
          <% TimeEntry::TIMESHEET_FIELDS.each do |f| %>
            <%= format_field(:td, c, f, "") %>
          <% end %>
          <td><%= h c.task.name %></td>
          <td><%= dur = Duration.new(:hours => c.hours[0..1].to_i, :minutes => c.hours[3..4].to_i) %></td>
        </tr>
        <% total_duration += dur %>
        <% week_total += dur %>
      <% end %>
      <tr class="subtotal">
        <td colspan="2">Week hours:</td>
        <td class="subtotal"><%= week_total.days_to_hours + week_total.hours + (week_total.minutes.to_f / 60) %></td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr class="total">
        <td>Total</td><td/>
        <td class="subtotal">
          <%= total_duration.weeks_to_hours + total_duration.days_to_hours + total_duration.hours + (total_duration.minutes.to_f / 60) %> hours
        </td>
      </tr>
    <% end %>
  </table>

</div>

