- form_type = "edit" if form_type.nil?
- title = "Edit" if title.nil?
- add_new = false if add_new.nil?

%h1
	= @title
%br
#main_content
	%table
		%tr
			- column_list.each do |n|
				= content_tag :th, /[^\.]*$/.match(n).to_s.humanize
		- class_name.each do |c|
			%tr
				- column_list.each do |f|
					%td
						= h(fmt(c, f))
				%td
					= link_to "edit", :action => :edit, :id => c.id
					/ link_to_remote "edit1", :with => "'is_visible=' + Element.visible('form_div')",	:complete => "Element.show('form_div')", :url => { :action => 'one_action', :type => "edit", :id => c.id, :form_type => form_type, :title => title }
				%td
					= link_to("delete", {:action => "delete", :id => c.id}, :confirm => "Are you sure you want to delete?", :method => :delete)
	%legend
		= link_to("Add New", :action => :add) if add_new
